#Ignorar las carpetas del proyecto (bin y obj).
bin
obj
bin/Debug/net6.0/Evalua.dll
bin/Debug/net6.0/Evalua.pdb
obj/Debug/net6.0/Evalua.dll
obj/Debug/net6.0/Evalua.pdb
bin/Debug/net6.0/Evalua.dll
bin/Debug/net6.0/Evalua.pdb
bin/Debug/net6.0/ref/Evalua.dll
obj/Debug/net6.0/Evalua.dll
obj/Debug/net6.0/Evalua.pdb
obj/Debug/net6.0/ref/Evalua.dll
